/Debug
/GL Debug
/GL Release
/Release
/WinQuake/Debug
/WinQuake/GL Debug
/WinQuake/GL Release
/WinQuake/Release
*.user
*.ncb
*.suo
/gas2masm/Debug
/gas2masm/GL Debug
/gas2masm/GL Release
/gas2masm/Release
/WinQuake/ID1
